<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Payment Success</title>
    <link rel="stylesheet" th:href="@{/css/paymentsuccessstyle.css}">
</head>
<body>
<header>
    <h1>Payment Success</h1>
</header>
<main>
    <div class="success-container">
        <p class="thank-you">Thank you for your purchase!</p>
        <p class="details">Delivery Address: <span th:text="${deliveryAddress}"></span></p>
        <p class="details">Payment Method: <span th:text="${paymentMethod}"></span></p>
    </div>
    <a th:href="@{/user-home}">Back to Home</a><br>
    <a th:href="@{/logout}">Logout</a><br>
</main>
</body>
</html>
